.page-header
  = link_to rights_path, class: 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    = t('view.right_manager.list')
  = link_to edit_right_path(@right), class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-pencil
    = t('view.right_manager.edit')
  %h1= RightManager::Right.model_name.human + '-' + t('view.right_manager.show')

%dl.dl-horizontal
  %dt= RightManager::Right.human_attribute_name(:name)+':'
  %dd= @right.name
  %dt= RightManager::Right.human_attribute_name(:description)+':'
  %dd= @right.description
